:root {
  font-family: "Galmuri11", sans-serif;
  line-height: 1.25;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --template-color-primary: #0000CC;

  background: linear-gradient(#FFCCEE, white 20%,white 80%, #FFFFCC);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
