:root {
  font-family: "Galmuri11", sans-serif;
  line-height: 1.25;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --template-color-primary: #0000CC;
  --template-color-secondary: #FF44cc;

  background: linear-gradient(#FFCCEE, white 20%,white 80%, #FFFFCC);
  background-attachment: fixed;

  height: 100dvh;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
}

#root {
  height: 100%;
  overflow: auto;
}

* {
  font-family: "Galmuri11";
}